/************** Home pagina *****************/
#background{
    width: 100%;
    min-height: 150px;
    background-image:  url(../afbeeldingen/dogs-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom center;
}
#content.full-width{
    width:100%;
    margin: 0;
    padding: 0;
}
#home {
    padding: 0;
}
#home .flex-container{
    flex-direction: row;
}
.block{
    padding: 55px 20px 55px;
    margin: 0 10%
}
.block img{
    max-width: 100%;
    height: auto;
}
.lr > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.colored{
    background-color: #F5F5F5;
    margin: 0;
    padding: 55px calc(20px + 10%) 55px;
}
.center{
    text-align: center;
}
.button{
    background-color: #7F9DAC;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    
}
.button:hover{
    transition: background-color .8s linear;
    background-color: #5d7f90;
}
#home .afbeeldingen{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
/************** contact pagina **************/
.email{
    color: dodgerblue;
    font-weight: bold;
}

.email:hover{
    text-decoration: underline;
}

input{
    width: 220px;
}
td{
    padding: 5px;
    width: 100px;
}

/*input bericht*/
input#bericht{
    height: 100px;
}

/*submit button*/
button{
    background-color: lightgrey;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
}

button:hover{
    background-color: gray;
}

/***************geschiedenis van honden**********/
#imgGeschiedenis{
    padding: 10px 10% 30px 10%;
    width: 80%;
}

/*****************onstaan van rassen************/
#rassenImg{
    margin: 40px;
    width: 600px;
    float: right;
}

#wistJeDat{
    background-color: #fde94f;
    height: 70px;
    width: 360px;
    padding: 20px 8px 40px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#chowChowImg{
    width: 100px;
}

/**********************rassen pagina ******************/
.ras-box{
    position: relative;
    height: 400px;
    width: 400px;
    margin-bottom: 30px;
    overflow: hidden;
}

.readInfo{
    visibility: hidden;
    height: 0;
    margin: 0;
}

.ras-box span:hover{
    text-decoration: underline;
}
.readInfo:hover{
    text-decoration: underline;
}

.ras-box img{
    height: 400px;
    width: 400px;
}

.ras-content{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    padding: 5px 0;
    color: white;
}
.ras-content p{
    padding: 0;
    height: 0;
    max-height: 0;
    transition: max-height 2.5s;
    opacity: 0;
}

.ras-box:hover p{
    opacity: 1;
    max-height: 1000px;
    height: auto;
    padding: 5px;
}

/******************** detail pagina rassen ********************/

/*********************afbeeldingen pagina**************/
.rassenAfbeelding > img{
    width: 250px;
    height: 250px;
    margin: 20px;
}
.wrap .afbeeldingen {
    text-align: center;
}


/********************** wie zijn wij & honden rassen detail pagina************************/
.wieZijnWij img:not(#banner), #ras-img{
    float: right;
    width: 400px;
    margin: 0 0 10px 10px ;
}

#content.wieZijnWij{
 min-height: 300px;
}

#banner{
    width: 100%;
}

/***************************FLEXBOX****************************/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.fix-image{
    align-items: center;
}
/***************** MEDIA QUERY MENU******************************/

@media only screen and (max-width: 1024px)  {
    /*home pagina*/
    #home .afbeeldingen{
        grid-template-columns: repeat(2, 1fr);
    }
    
    /*geschiedenis pagina*/
    #imgGeschiedenis{
        padding: 4px 2% 0 2%;
        width: 96%;
    }

    /*rassen pagina*/
    .ras-box, .ras-box img{
        height: 350px;
        width: 350px;
    }

    .ras-content{
        height: 75px;
    }

    .readInfo{
        visibility: visible;
    }

    /* aanpassen animatie voor mobiele apparaten*/
    .ras-box:hover p{
        opacity: 0;
        max-height: 0;
        height: auto;
        padding: 5px;
    }

    .ras-box h2:hover{
        text-decoration: underline;
    }

    /*onstaan van rassen pagina*/
    #wistJeDat {
        background-color: #fde94f;
        height: fit-content;
        width: 50%;
        padding: 20px 2.5% 40px 2.5%;
        margin: 20px 22.5% 20px 22.5%;
        border-radius: 20px;
    }

    #rassenImg{
        margin: 10px 10% 20px 10%;
        width: 80%;
    }

    /* wie zijn wij pagina & ras img detail pagina*/
    .wieZijnWij img:not(#banner), #ras-img{
        width: 300px;
        float: left;
        margin: 0 20px 10px 0;
    }
}



@media screen and (max-width: 480px) {

    /*home pagina*/
    #home .flex-container{
        flex-direction: column;
    }
    .lr > div{
        width: auto;
    }
    #home .afbeeldingen{
        grid-template-columns: repeat(1, 1fr);
    }
    #home .rassenAfbeelding img{
        margin: 0;
    }

    /*geschiedenis pagina*/
    #imgGeschiedenis{
        padding: 0;
        width: 100%;
    }

    /*rassen pagina*/
    .ras-box, .ras-box img{
        height: 200px;
        width: 200px;
    }

    /*ontsaan van rassen pagina*/
    #wistJeDat{
        background-color: #fde94f;
        height: fit-content;
        width: 80%;
        padding: 20px 2.5% 40px 2.5%;
        margin: 20px 7.5% 20px 7.5%;
        border-radius: 20px;
    }

    #rassenImg{
        margin: 0 2.5% 20px 2.5%;
        width: 95%;
    }

    /* wie zijn wij pagina & rassen detail pagina*/
    .wieZijnWij img:not(#banner), #ras-img{
       width: 100%;
    }


    /* contact pagina */
    td{
        width: 100%;
        display: inline;
        padding: 0;
    }

    td input{
        margin-bottom: 10px;
        width: 100%;
    }

    a.email{
        font-size: 13px;
        font-weight: bold;
    }
}