#email{
    color: dodgerblue;
    font-weight: bold;
}

#email:hover{
    text-decoration: underline;
}
h1,h2,h3{
    margin-bottom: 5px;
}
p:not(#footerP){
    margin-bottom: 25px;
}

/*Table*/
table{
    max-width: 700px;
}

td.label{
    width: 140px;
}
td{
    padding: 5px;
    width: 100px;
}
/*text velden*/
td input{
    min-width: 200px;
}

/*input bericht*/
input#bericht{
    height: 100px;
}

/*submit button*/
button{
    background-color: lightgrey;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
}

button:hover{
    background-color: gray;
}

/***************geschiedenis van honden**********/
#imgGeschiedenis{
    padding: 10px 10% 30px 10%;
    width: 80%;
}

/*****************onstaan van rassen************/
#rassenImg{
    float: right;
    margin: 40px;
    width: calc(100% - 80px);
    max-width: 600px ;
}

#yellow{
    background-color: #fde94f;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/*********************afbeeldingen pagina**************/
.rassenAfbeelding > img{
    width: 250px;
    height: 250px;
    margin: 20px;
}
.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/***************** MEDIA QUERY MENU******************************/

@media only screen and (max-width: 1024px)  {
    main{
        background-color: yellow;
    }
}

@media screen and (max-width: 600px) {
    main {
        background-color: purple;
    }
}