#ras-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 50px;
}

#ras-list img{
    max-width: 100%;
    height: auto;
}
.ras-box{
    position: relative;
    height: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}
.ras-content{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 35px;
    background-color: rgba(0,0,0,.6);
    padding: 5px 0;
    color: white;
}
.ras-content p{
    padding: 0;
    height: 0;
    max-height: 0;
    transition: max-height 2.5s;
    opacity: 0;
}
.ras-box:hover p{
    opacity: 1;
    max-height: 1000px;
    height: auto;
    padding: 5px;
}

#ras-img{
    float: right;
    max-width: 30%;
}
