:root {
    --groen: #7B8A56;
    --blauw: #174D5A;
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'tahoma';
}
html{
    height: 100%;
    width: 100%;
    /*background-color: #F2E4D6;*/
}

/***********************HEADER**************************/
header
{
    top: 0;
    height: 100px;
    background-color: var(--groen); /*groen*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: white;
    margin-left: 20px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
    font-size: 20px;
}
nav ul li:last-child{
    margin: 0 20px 0 10px;
}

/***********************MENU**************************/


/****************************CONTENT***************************/
main{
    min-height: calc(100vh - 200px);
    width: 100%;
    height: fit-content;
    background-color: #F2E4D6;
    padding-top: 20px;
    padding-bottom: 40px;
}

#content{
    margin: 0 100px 0 100px;
    background-color: white;
    width: calc(100% - 220px);
    height: fit-content;
    min-height: 100px;
    padding: 20px;
}

/**************************FOOTER*****************************/
footer{
    width: 100%;
    height: 40px;
    bottom: 0;


    background-color: var(--blauw);
    color: darkcyan;
}

footer p{
    text-align: center;
}

