@font-face {
    font-family: GloriaHallelujah;
    src: url("../fonts/GloriaHallelujah-Regular.ttf");
}
@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
html{
    height: 100%;
    width: 100%;
}

/***********************HEADER**************************/
header
{
    top: 0;
    height: 100px;
    color: white;

}

nav#menu{
    position: absolute;
    top: 65px;
    width: 100%;
    height: 35px;
    background-color:#7F9DAC;
    display: flex;
}
h1{
    font-family: "GloriaHallelujah";
    margin-left: 20px;
    font-size: 40px;
    color: #260D00;
}


header img{
    position: absolute;
    right: 50px;
    top: 0;
    z-index: 10;
    height: 100px;
    width: 100px;
}

#menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#menu a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
#current{
    /*border-bottom: 5px solid gray;*/
    font-weight: bold;
}
#menu a:hover{
    font-weight: bold;
    text-decoration: underline;
}

/****************************CONTENT***************************/
main{
    min-height: calc(100vh - 185px);
    width: 100%;
    height: fit-content;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 40px;
}

#content{
    margin: 0 10% 0 10%;
    background-color: white;
    width: calc(80% - 50px);
    height: fit-content;
    min-height: 100px;
    padding: 20px;
}

/**************************FOOTER*****************************/
footer{
    width: 100%;
    height: 25px;
    bottom: 0;
    background-color: gray;
    text-align: center;
    color: white;
}


